*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
:root{
    --primary-color:#00235b;
    --secondary-color:#00ff0023;
    --yellow-color:#c1ff6fa4;
    --text-color: rgba(0, 0, 0, 0.816);
    --light-green:#00ff002d;
    --darkBlue-shadow:#00235b1d;
    --gray-color: rgba(0, 0, 0, 0.564);
    --icon-color:rgba(0, 0, 29, 0.567);
    
}

