:root{
    --primary-color:#00235b;
    --secondary-color:#00ff0023;
    --yellow-color:#c1ff6fa4;
    --gradient-color:linear;
    --light-green:#00ff002d;
    --darkBlue-shadow:#00235b1d;
    --gray-color: rgba(0, 0, 0, 0.564);
    --icon-color:rgba(0, 0, 29, 0.567); 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container{
    width: 100%;
    background:rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 10rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.248);
    backdrop-filter: blur(10px);
    
    }

a{
    text-decoration: none;
}

.navbar{
    display: flex;
    gap: 2.5rem;
}
.navbar a{
    color: var(--primary-color);
    font-weight: 700;
    transition: all .5s ease;
}
.navbar a:hover{
    color: var(--secondary-color);
    transform: scale3d(0.1rem);

}
.header a {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 2rem;
}