:root{
    --primary-color:#00235b;
    --secondary-color:#00ff0023;
    --yellow-color:#c1ff6fa4;
    --gradient-color:linear;
    --light-green:#00ff002d;
    --darkBlue-shadow:#00235b1d;
    --gray-color: rgba(0, 0, 0, 0.564);
    --icon-color:rgba(0, 0, 29, 0.567); 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    /* text-align: center; */
}

.card_container{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 25rem;
    height: auto;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.121);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.077);
    padding-bottom: 1rem;
}
h2,
p,
.btn{
    padding:0 1rem ;
}